.App h1 {
  text-align: center;
}

.questionDisplay {
  margin: 12px;
  background: #ccc;
  border: 2px solid #ddd;
  padding: 12px;
}

.question {
  font-weight: bold;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionChoice {
  padding: 12px;
  margin: 12px;
  height: 5em;
}

.resultCorrect,
.resultIncorrect {
  text-align: center;
}

.resultCorrect {
  color: green;
}

.resultIncorrect {
  color: red;
}

.playerScore {
  text-align: center;
  font-weight: bold;
}
